<form class="login-register-form" action="/products" method="POST" enctype="multipart/form-data">
    <div>
        <label for="name">Nombre del Producto</label>
        <input class='control' type="text" id="name" name="name" placeholder="Mesa Ratona">
    </div>
    <div>
        <label for="description">Descripción</label>
        <textarea class='control' id="description" name="description" placeholder="Comentario del producto"></textarea>
    </div>
    <div>
        <label for="image">Imagen</label>
        <input class='control' type="file" id="image" name="image" multiple accept=".jpg, .png, .jpeg, .svg">
    </div>
    <div>
        <label for="size">Medidas</label>
        <input class='control' type="text" id="measures" name="measures" placeholder="Largo - Ancho - Alto">
    </div>
    <div>
        <label for="price">Precio</label>
        <input class='control' type="number" id="price" name="price" placeholder="$10000" >
    </div>
    <div>
        <label for="discount">Descuento</label>
        <input class='control' type="number" id="discount" name="discount" placeholder="10" >
    </div>
    <div>
        <label for="category">Categoría</label>
        <select name="category" id="category" class="category-control">
            <option value="">Elegí</option>
            <option value="table">Mesas</option>
            <option value="coffeeTable">Mesas Ratonas</option>
            <option value="desk">Escritorios</option>
            <option value="mirror">Espejos</option>
        </select>
    </div>
    <div class="create-btn">
        <input class="button" type="submit" value="GUARDAR">
        <input class="button" type="reset" value="LIMPIAR">
    </div>
</form> 

